@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

body {
    background-color: hsl(212, 45%, 89%);
    display: grid;
    place-items: center;
}

.center {
    box-sizing: border-box;
    display: grid;
    place-items: center;
}

.container {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 320px;
    height: fit-content;
    border-radius: 15px;
    margin-top: 10%;
    background-color: white;
}

.image {
    box-sizing: border-box;
    padding-top: 5%;
}

.main-content {
    text-align: center;
    height: fit-content;
    font-family: 'Outfit';
    font-weight: 700;
    padding-right: 4%;
    padding-left: 4%;
    color: hsl(218, 44%, 22%);
}

.sub-content {
    text-align: center;
    /* padding-top: 3%; */
    font-size: 15px;
    font-family: 'Outfit', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.sub-content-2 {
    text-align: center;
    padding-bottom: 5%;
    font-size: 15px;
    font-family: 'Outfit', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.fk_it {
    border-radius: 4%;
}

.new {
    padding-top: 0%;
    margin-top: 0%;
    border-top: 0%;
}

